.footer {
    text-align: center;
    padding: 25px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer-links {
    color: white;
    text-shadow: 5px 5px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-link {
    margin: 0 10px;
    color: white;
    text-shadow: 5px 5px 10px black;
  }
  
  .github-icon {
    width: 20px; 
    height: 20px; 
  }
  