.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.header h1 {
    font-family: 'Tangerine bold', cursive;
    font-size: 48px;
    text-shadow: 5px 5px 10px black;
}  
  
  .nav-container {
    display: flex;
    align-items: center;
  }
  
  .header-links {
    display: flex;
    gap: 25px;
  }
  
  .header-links a {
    color: white;
  }

  .white-link {
    color: white;
    text-shadow: 5px 5px 10px black;
  }
  /* Add any additional styling as needed */
  