.content {
  padding: 0 20px;
  margin-bottom: 30px;
}

.form-field {
  margin-bottom: 20px; 
}

.form-field label {
  display: block; 
  margin-bottom: 5px; 
}

.form-field input,
.form-field textarea {
  width: 30%; 
  padding: 5px; 
}

@media (max-width: 767px) {
  .form-field input,
  .form-field textarea {
    width: calc(100% - 10px); 
  }
}